# pip install -r requirements.txt 



#--------------------------------------pak----------------------------------------------------
opencv-python~=4.9.0.80
numpy~=1.24.4
pyautogui~=0.9.53
pywin32~=304
mss~=6.1.0
ultralytics~=8.1.26


cffi~=1.15.0
pillow~=10.2.0
pip~=24.0
attrs~=21.4.0
wheel~=0.41.2
cryptography~=37.0.2
Jinja2~=3.1.2
pytz~=2022.1
torch~=2.2.0+cu121
onnx~=1.16.0
thop~=0.1.1.post2209072238
requests~=2.27.1
colorama~=0.4.4
PyYAML~=6.0
Cython~=3.0.8
setuptools~=68.2.0
pyinstaller~=6.3.0
scipy~=1.8.0
threadpoolctl~=3.1.0
packaging~=23.2
matplotlib~=3.5.2
mpmath~=1.3.0
sympy~=1.12
tensorboard~=2.9.0
tqdm~=4.64.0
torchvision~=0.17.0+cu121
psutil~=5.9.8
urllib3~=1.26.9
fsspec~=2023.4.0
lxml~=5.1.0
MarkupSafe~=2.1.1
pandas~=1.4.2
python-dateutil~=2.8.2
certifi~=2021.10.8
py-cpuinfo~=9.0.0
seaborn~=0.11.2
cycler~=0.11.0
six~=1.16.0
networkx~=3.2.1
idna~=3.3
contourpy~=1.2.0
selenium~=4.1.5
fonttools~=4.33.3
pyparsing~=3.0.8
kiwisolver~=1.4.2
zipp~=3.8.0
torchaudio~=2.2.0+cu121
PyQt5~=5.15.10
pynput~=1.7.6
PyGetWindow~=0.0.9
pyserial~=3.5
PySimpleGUI~=4.60.5