# Run the following command

#=====================================================================================================================
# pip install -r requirements.txt
# pip install torch==2.2.0 torchvision==0.17.0 torchaudio==2.2.0 --index-url https://download.pytorch.org/whl/cu121
#=====================================================================================================================


#--------------------------------------pak----------------------------------------------------
opencv-python==4.9.0.80
numpy==1.24.4
pyautogui==0.9.53
pywin32==304
mss==6.1.0
ultralytics==8.1.26
customtkinter
chardet