[Profile1]
name = SUPERI 46
y_movement = 0.58
x_movement = -0.26
toggle_key = y
exit_key = delete

[Profile2]
name = STRIKER
y_movement = 0.61
x_movement = -0.07
toggle_key = y
exit_key = delete

[Profile3]
name = FORCA-BRUTA
y_movement = 0.99
x_movement = 0.00
toggle_key = y
exit_key = delete

[Profile4]
name = FJX-HORUS
y_movement = 0.69
x_movement = -0.22
toggle_key = y
exit_key = delete

[Profile5]
name = Profile88
y_movement = 0.00
x_movement = 0.0
toggle_key = y
exit_key = delete

[Profile6]
name = Profile 6
y_movement = 0.38
x_movement = 0.00
toggle_key = y
exit_key = delete

[Profile7]
name = Profile 7
y_movement = 0.00
x_movement = 0.0
toggle_key = y
exit_key = delete

[Profile8]
name = Profile 8
y_movement = 0.00
x_movement = 0.0
toggle_key = y
exit_key = delete

[Profile9]
name = ttt
y_movement = 0.00
x_movement = 0.00
toggle_key = y
exit_key = delete

